form{
    margin: 20px 0;
}
form input, button{
    padding: 5px;
}
table{
    width: 70%;
    margin-bottom: 20px;
    border-collapse: collapse;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
}
table, th, td{
    border: 1px solid #cdcdcd;
}
table th, table td{
    padding: 10px;
    text-align: center;
}
.columna1 {
    width:48%;
    float:left;
    margin: 30px;
    margin-left:20px;
}
.columna2 {
    width:48%;
    float:right;
    margin-top: 30px;
}
.content div {
    padding: 10px;
}
h1{
    text-align: center;
    margin: 30px;
    border: black 2px solid;
    padding: 15px;
}
#map {
    height: 400px;  
    width: 100%;  
   }
div{
    text-align: center;
}
output{
    width: 1300px;
    margin-top: 30px;
    height: 50px;
    font-size: medium;
    border: black 2px solid;
    margin: 0 auto;

}
